<html>
<head>
    <title>Weather</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/home.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
</head>
<body>

<h2 class="weatherText">Weather Flask</h2>
<form class="weatherText" id="weatherForm" action="{{ url_for('render_results') }}" method="post">
    Location City: <input class="weatherText" id="weatherInput" type="text" name="City"><br>
    <input class="weatherText" id="weatherSubmit" type="submit" value="Submit">
</form>

    <table style="width:100%" border="1px solid #000">
      <tr>
        <th>Country</th>
        <th>City</th>
          </tr>
        {% for county in data %}


        <tr>
            <td width="5">{{county[0]}}</td>
            <td width="5"><a href="{{ url_for( 'render_press', city=county[1]) }}">{{county[1]}}</a></td>

      </tr>
        {% endfor %}
            </table>
</body>
</html>